<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.id }}</td>
      <td>{{ producto.nombre }}</td>
      <td>{{ producto.descripcion }}</td>
      <td>{{ producto.precio }}</td>
    </tr>
  </tbody>
</table>





<!--<div class="container">
  <div class="row">
    <div class="col">
      <app-navbard></app-navbard>
    </div>
  
  <div class="row">
    <div class="col-4">
      <app-search></app-search>
    </div>
    <div class="col-8">
      <div class="container">
      <div class="row">
      <div class="col">
        <app-slide></app-slide>
      </div>
      </div>
      
      <div class="row">
        <ng-container *ngFor="let productItem of listaProductItems"></ng-container>
        <div class="col" *ngFor="let productItem of listaProductItems"><app-product [productId] = "productItem"></app-product></div>
    
       
      </div>
    </div>
  </div>
</div>
  </div>
  <div class="row">
    <div class="col">
      <app-footers></app-footers>
    </div>
  </div>

</div>
-->